[Unit]
Description=Calvin daemon

[Service]
Environment="DISPLAY=:0"
Environment="COMICS_PATH=/app/calvin/comics"
User=calvin
Group=calvin
ExecStart=/app/calvin/venv/bin/calvin run-daemon
Restart=on-failure
RestartSec=10